# Accounting Fun

<p align="center">
<img src="images/accounting.png" width="400" height="400" />
</p>

## Overview
This project is currently under construction. But when complete, it will alleviate the hastle of managing my expenses from a spreadsheet every month. The idea is to maintain my own database of expenses, and then have a machine learning model categorize those expenses. Once we've classified it, we can develop dashboards that will resonate with everyone.
<br />

## Table of Contents TOC<a id='table-of-contents-TOC'></a> 
[Google Colab Instructions](#google-colab-instructions)<br />
[Business Case](#business-case)<br />
[Data Understanding](#data-understanding)<br />
[Data Preparation](#data-preparation)<br />
[Modeling](#modeling)<br />
[Evaluation](#evaluation)<br />
[Key Findings](#key-findings)<br />
[Summary](#summary)<br />

## Google Colab Instructions <a id='google-colab-instructions'></a> 
To run this notebook, you'll need a Kaggle log-in and web access to [Google Colab and link to this notebook](). Google Colab is a free, user-friendly platform to run software, specifically data models. Kaggle is a [website](https://www.kaggle.com/) popular with the data industry that hosts databases and runs data analytics competition. To access the [database]() for this model, you
will need to create a Kaggle account and follow the instructions to download your 'token' and 'key'. This
model will prompt you to have that information.
<br />[return to TOC](#table-of-contents-TOC)

## Business Case <a id='business-case'></a> 

<br />[return to TOC](#table-of-contents-TOC)

## Data Understanding <a id='data-understanding'></a>
<br />[return to TOC](#table-of-contents-TOC)

The data can be found in the following locations:

* [Kaggle]()
* [THis Repository]()

In [4]:
## Data Preparation <a id='data-preparation'></a>
'''
Stored locally in a csv file

Automatically read and put into folder
'''
# import OS module
import os

# Get the list of all files and directories
path = "C:/Users/benne/OneDrive/Desktop/Expenses"

dir_list = os.listdir(path)
print("Files and directories in '", path, "' :")

# prints all files
print(dir_list)

Files and directories in ' C:/Users/benne/OneDrive/Desktop/Expenses ' :
['Monthly Expenses - 2024.xlsx']

In [9]:
import pandas as pd

In [24]:
#return month of expenses
def getmonth():
    month = 'July'
    return month

In [26]:
#return account of the four major accounts
def getaccount():
    account = 'capital_one'
    return account

In [28]:
#manual input of path name
folder = 'C:/Users/benne/OneDrive/Desktop/Expenses/'
month = getmonth()
acc = getaccount()
ext = '.csv'

#concatenated path
path = folder+month+'/'+acc+ext

In [29]:
#import expenses
expenses = pd.read_csv(path)

expenses.head()

#expenses_df = expenses.active

,Account Number,Transaction Description,Transaction Date,Transaction Type,Transaction Amount,Balance
0,8225,Debit Card Purchase - NYTIMES NYTIMES 800 698 ...,08/01/24,Debit,20.00,181.45
1,8225,Debit Card Purchase - STOP & SHOP 0877 553 S B...,07/29/24,Debit,204.87,201.45
2,8225,Non-Capital One ATM Fee - WELLS FARGO BANK BAS...,07/29/24,Debit,2.00,406.32
3,8225,ATM Withdrawal - WELLS FARGO BANK 2496Q BASKIN...,07/29/24,Debit,173.00,408.32
4,8225,Debit Card Purchase - CRANE FARM BASKING RIDG NJ,07/28/24,Debit,18.05,581.32

<br />[return to TOC](#table-of-contents-TOC)

## Modeling <a id='modeling'></a> 

<br />[return to TOC](#table-of-contents-TOC)

## Evaluation<a id='evaluation'></a>

<br />[return to TOC](#table-of-contents-TOC)

## Key Findings<a id='key-findings'></a>

<br />[return to TOC](#table-of-contents-TOC)

## Summary<a id='summary'></a>

### Next Steps:
#### Additional Data

#### Test UI Prompts

#### Try Calorie Counting

<br />[return to TOC](#table-of-contents-TOC)